<option value="1 - Scheduled">@Localizer["Status_Scheduled"]</option>
<option value="2 - Confirmed">@Localizer["Status_Confirmed"]</option>
<option value="3 - Arrived">@Localizer["Status_Arrived"]</option>
<option value="4 - In Progress">@Localizer["Status_InProgress"]</option>
<option value="5 - Completed">@Localizer["Status_Completed"]</option>
<option value="6 - Rescheduled">@Localizer["Status_Rescheduled"]</option>
<option value="7 - Canceled">@Localizer["Status_Canceled"]</option>
<option value="8 - No-show">@Localizer["Status_NoShow"]</option>
<option value="9 - Unscheduled">@Localizer["Status_Unscheduled"]</option>
