<option value="Male">@Localizer["Gender_Male"]</option>
<option value="Female">@Localizer["Gender_Female"]</option>
<option value="Non-Binary">@Localizer["Gender_NonBinary"]</option>
<option value="Prefer not to say">@Localizer["Gender_PreferNotToSay"]</option>
<option value="Custom">@Localizer["Gender_Custom"]</option>
