<option value="1 - Created">@Localizer["ReportStatus_Created"]</option>
<option value="2 - Checking">@Localizer["ReportStatus_Checking"]</option>
<option value="3 - In Progress">@Localizer["ReportStatus_InProgress"]</option>
<option value="4 - Completed">@Localizer["ReportStatus_Completed"]</option>
<option value="5 - Rejected">@Localizer["ReportStatus_Rejected"]</option>
