@page
@model MediSphere.Pages.Reports.UpdateReportModel
@{
    ViewData["Title"] = Localizer["UpdateReport_Title"].Value;
    Layout = "~/Pages/Shared/_DashboardLayout.cshtml";
}

<div class="container border" style="padding: 20px">
    <form method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <input type="hidden" asp-for="ExistingReportModel.ReportId" />
        <div class="form-group">
            <label asp-for="ExistingReportModel.PatientId">@Localizer["PatientIdLabel"]</label>
            <select asp-for="ExistingReportModel.PatientId" class="form-control">
                <option value="">@Localizer["SelectPatient"]</option>
                @if (Model.Patients != null)
                {
                    @foreach (var patient in Model.Patients)
                    {
                        <option value="@patient.PatientId">@($"{patient.FirstName} {patient.LastName}")</option>
                    }
                }
            </select>
            <span asp-validation-for="ExistingReportModel.PatientId" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="ExistingReportModel.ReportDescription">@Localizer["ReportDescription"]:</label>
            <input asp-for="ExistingReportModel.ReportDescription" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="ExistingReportModel.InitialStaffName">@Localizer["InitialStaffName"]</label>
            <input asp-for="ExistingReportModel.InitialStaffName" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="ExistingReportModel.Status">@Localizer["Status"]</label>
            <select asp-for="ExistingReportModel.Status" class="form-control">
                <partial name="_ReportStatusOptionsPartial" />
            </select>
        </div>

        <div class="form-group" style="margin-top: 10px;">
            <button type="submit" class="btn btn-primary">@Localizer["UpdateReportButton"]</button>
        </div>

    </form>
</div>
